$silver: hsl(207, 100%, 92%);
$mint: hsl(173, 55%, 85%);

$pmry: hsl(210, 100%, 93%);
$pmry-dark: desaturate(darken($pmry, 25%), 80%);
$pmry-darker: desaturate(darken($pmry, 40%), 80%);
$pmry-darkest: desaturate(darken($pmry, 55%), 80%);
$pmry-darkultra: desaturate(darken($pmry, 65%), 88%);

$cmpt: hsl(207, 95%, 83%);
$cmpt-darkless: desaturate(darken($cmpt, 15%), 70%);
$cmpt-dark: desaturate(darken($cmpt, 25%), 70%);
$cmpt-darker: desaturate(darken($cmpt, 35%), 70%);
$cmpt-darkest: desaturate(darken($cmpt, 45%), 70%);
$cmpt-darkturbo: desaturate(darken($cmpt, 61%), 75%);
$cmpt-darkultra: desaturate(darken($cmpt, 65%), 75%);

$bg: hsl(210, 11%, 14%);
$bg-dark: darken($bg, 3%);
$bg-darker: darken($bg, 5%);
$bg-light: lighten($bg, 3%);
$bg-lighter: lighten($bg, 7%);
$bg-lightest: lighten($bg, 11%);
$bg-lightultra: lighten($bg, 20%);


$good-c: hsl(100, 100%, 70%);
$good-text: desaturate(darken($good-c, 3.3%), 48%);
$good-accent: desaturate(darken($good-text, 9%), 20%);
$good-high: $good-text;

$warn-c: hsl(39, 100%, 70%);
$warn-text: desaturate(darken($warn-c, 3.3%), 25%);
$warn-accent: desaturate(darken($warn-c, 12%), 45%);
$warn-high: $warn-text;

$error-c: hsl(340, 100%, 85%);
$error-text: desaturate(darken($error-c, 3.7%), 0%);
$error-accent: desaturate(darken($error-c, 12%), 45%);
$error-high: $error-text;
