.fade-enter-active {
  animation: fadeIn .6s ease;
  opacity: 0;
}
.fade-leave-active {
  animation: fadeOut .35s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-50%);
  }
}

